---
- name: Install cloud-init packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
    force_apt_get: true
  vars:
    packages:
      - cloud-init
      - cloud-guest-utils
      - cloud-initramfs-dyn-netconf

- name: Install Debian specific packages
  ansible.builtin.apt:
    name: cloud-initramfs-dyn-netconf
    state: present
  when: ansible_distribution == 'Debian'

- name: Install Ubuntu specific packages
  ansible.builtin.apt:
    name: cloud-initramfs-copymods
    state: present
  when: ansible_distribution == 'Ubuntu'
