/guestinfo-datasource.json
/capv-image-uploader.json
/packer_cache/
/output-*/
/output/
/.bin/
/.local/bin/
manifest.json
**.DS_Store
*.tar.gz

# Goss test droppings
debug-goss-spec.yaml
goss-spec.yaml
