{
  "disk": "/dev/sda",
  "partitions":[
		{
			"mountpoint":"/",
			"size":0,
			"filesystem":"xfs"
		}
	],
  "hostname": "localhost",
  "packages": [
    "bash",
    "bc",
    "bridge-utils",
    "bzip2",
    "ca-certificates",
    "cloud-init",
    "cpio",
    "cracklib-dicts",
    "dbus",
    "e2fsprogs",
    "file",
    "filesystem",
    "findutils",
    "gdbm",
    "grep",
    "gzip",
    "iana-etc",
    "initramfs",
    "iptables",
    "iproute2",
    "iputils",
    "linux",
    "motd",
    "net-tools",
    "openssh-server",
    "open-vm-tools",
    "photon-release",
    "photon-repos",
    "procps-ng",
    "rpm",
    "sed",
    "sudo",
    "tdnf",
    "tzdata",
    "util-linux",
    "vim",
    "which"
  ],
  "password": {
    "age": -1,
    "crypted": true,
    "text": "*"
  },
  "postinstall": [
    "#!/bin/sh",
    "useradd -U -d /home/builder -m --groups wheel builder && echo 'builder:$SSH_PASSWORD' | chpasswd",
    "echo 'builder ALL=(ALL) NOPASSWD: ALL' >/etc/sudoers.d/builder",
    "chmod 440 /etc/sudoers.d/builder",
    "systemctl enable sshd",
    "tdnf clean all",
    "swapoff -a",
    "rm -f /swapfile"
  ]
}
