deb http://us.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} main restricted universe
deb http://us.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-updates main restricted universe
deb http://us.archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-backports main restricted universe
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted universe
