ACTION=="add", SUBSYSTEM=="net", NAME=="veth*", TAG+="netif_hw_offload_disable"
ACTION=="add", SUBSYSTEM=="net", NAME=="tunl", TAG+="netif_hw_offload_disable"
TAG=="netif_hw_offload_disable", RUN+="/usr/sbin/ethtool -K $name tx off rx off"
