# Copyright 2020 The Kubernetes Authors.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- name: Ensure auditd is running and comes on at reboot
  service:
    name: auditd
    state: started
    enabled: yes

- name: configure auditd rules for containerd
  copy:
    src: etc/audit/rules.d/containerd.rules
    dest: /etc/audit/rules.d/containerd.rules
    owner: root
    group: root
    mode: 0644

- name: Ensure Bandwidth for TCP connections should 1 Mb (same as Ubuntu)
  sysctl:
    name: net.ipv4.tcp_limit_output_bytes
    value: "524288"
    state: present
    sysctl_set: yes
    reload: yes
    sysctl_file: "{{ sysctl_conf_file }}"
