deb {{ ubuntu_repo }} {{ ansible_facts['distribution_release'] }} main restricted universe
deb {{ ubuntu_repo }} {{ ansible_facts['distribution_release'] }}-updates main restricted universe
deb {{ ubuntu_repo }} {{ ansible_facts['distribution_release'] }}-backports main restricted universe
deb {{ ubuntu_security_repo }} {{ ansible_facts['distribution_release'] }}-security main restricted universe
