# version=RHEL9
# Use CDROM installation media
cdrom

# Use text install
text

# Don't run the Setup Agent on first boot
firstboot --disabled
eula --agreed

# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --onboot=on --ipv6=auto --activate --hostname=rhel9

# Lock Root account
rootpw --lock

# Create builder user
user --name=builder --groups=wheel --password=$SSH_PASSWORD --plaintext --shell=/bin/bash

# System services
selinux --permissive
firewall --disabled
services --enabled=sshd

# System timezone
timezone UTC

# System booloader configuration
bootloader --location=mbr --boot-drive=sda
zerombr
clearpart --all --initlabel --drives=sda
autopart --nohome --noswap --nolvm

skipx

%packages --ignoremissing --excludedocs
# dnf group info minimal-environment
@^minimal-environment
@core
openssh-server
sed
sudo
python3
open-vm-tools

# Exclude unnecessary firmwares
-iwl*firmware
%end

%addon com_redhat_kdump --disable
%end

reboot

%post

echo 'builder ALL=(ALL) NOPASSWD: ALL' >/etc/sudoers.d/builder
chmod 440 /etc/sudoers.d/builder

# Disable quiet boot and splash screen
sed -i 's/ rhgb quiet//' /etc/default/grub
sed -i 's/ rhgb quiet//' /boot/grub2/grubenv

# Remove the package cache
yum -y clean all

# Disable swap
swapoff -a
rm -f /swapfile
sed -ri '/\sswap\s/s/^#?/#/' /etc/fstab

# Ensure on next boot that network devices get assigned unique IDs.
sed -i '/^\(HWADDR\|UUID\)=/d' /etc/sysconfig/network-scripts/ifcfg-*

%end
